@model Weather
    @{
        Layout = null;
    }

    @*<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/CSS/site.css" />
</head>*@

<center>
    <h2>Please enter a City to find out the weather</h2>
@*this form gets us the city for our api*@
@using (Html.BeginForm("Index", "Weather", FormMethod.Get))
    {
        <label asp-for="City" class="control-label">City Name</label>
        <input type="text" name="City" class="form-control" value="" />
        <input type="submit" value="Enter City" class="btn btn-primary" />
    }
    @if (Model.Icon == null)
    {
        <img src="@Html.Raw($"http://openweathermap.org/img/wn/02d@2x.png")" />
    }
    else
    {
        <img src="@Html.Raw($"http://openweathermap.org/img/wn/{Model.Icon}@2x.png")" />
    }

    <h3>The current temperature in @Model.City is:</h3>
    <p>@Model.Temp</p>
    <p>The weather feels like: @Model.FeelsLike</p>
    <p>Todays High: @Model.TempMax</p>
    <p>Todays Low: @Model.TempMin</p>
</center>
